*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo
.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
*.qlen
*.bts
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project
/.vscode

version.cache
